@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
/* 
    font-family: 'Krona One', sans-serif;
    font-family: 'Montserrat', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #F6F6F6;

    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22D4FD;
}



.apresentacao {
    margin: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo {
    width: 615px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif; 
}

.apresentacao-links {
    display: flex;
    justify-content: space-between;
}

.apresentacao-links-link {
    background-color: #22D4FD;
    color: #000000;

    font-size: 24px;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;

    padding: 21.5px 0;
    width: 280px;
    border-radius: 16px;
}